<head>
    <title>{{ .Site.Title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no" />
    <meta name="theme-color" content="#000084" />
    <link rel="icon" href="{{ .Site.BaseURL }}/favicon.ico">
    <link rel="canonical" href="{{ .Site.BaseURL }}">
    {{/* Don't ask why it's like this. This original theme is a mess... */}}
    <link rel="stylesheet" href="{{ "/css/cv.css" | relURL }}">  
    <link rel="stylesheet" href="{{ "/css/bootstrap.css" | relURL }}">
    <link rel="stylesheet" href="{{ "/css/bootstrap-responsive.css" | relURL }}">
    <link rel="stylesheet" href="{{ "/css/style.css" | relURL }}">
    <!-- <noscript><style>body { visibility: visible }</style></noscript> -->
</head>
