{{ define "main" }}
{{ $style := resources.Get "sass/main.scss" }}

<div class="row-fluid navmargin">
    <div class="page-header">
        <h1>{{ .Site.Params.mainpagetitle }}</h1>
    </div>
</div>

<div class="row-fluid">
    <div class="span9 bs-docs-sidebar">
        <p class="lead">{{ .Site.Params.mainpagesubtitle }}</p>
        <p></p>
        <p>{{ .Site.Params.mainpagedesc }}</p>
        <p></p>
        <hr class="soften">
         <div class ="columns">
           <div class ="box-left">
             <h1>Proffesional experience</h1>

          {{ with .Site.GetPage "/experience.md" }}{{ .Content }}{{ end }}
          </div>

          <div class ="box-right">
            <h1>Technical skills</h1>

            {{ with .Site.GetPage "/skills.md" }}{{ .Content }}{{ end }}
            </div>

            <div class ="box-right">
              <h1>Languages</h1>

              English (C1)</br>
              Polish (Native)

            </div>

          </div>

    </div>

    <div class="span3 bs-docs-sidebar">
        <h1>Personal profile</h1>
        <ul class="nav nav-list bs-docs-sidenav">

          {{ with .Site.GetPage "/profile.md" }}{{ .Content }}{{ end }}

        </ul>
        <p></p>
        <h1>Contact</h1>
        <ul class="nav nav-list bs-docs-sidenav">
          <p>{{ .Site.Params.email }}</p>
        </ul>
    </div>
</div>

{{ end }}
